/* index.html */
body,
html {
    background: #0a0523 url('src/assets/images/stardewbackground.png') no-repeat
        fixed center center / cover;
}

.menu {
    display: flex;
    border: 5px solid #bf7c2a;
    border-radius: 1em;
    background-color: #ffd284;
    align-items: center;
}

.page-content {
    justify-content: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

/* NavBar.jsx */
.navbar {
    justify-content: space-between;
    padding: 1%;
}

.navimg {
    max-width: 115px;
}

/* SignInPage */
.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CalendarCell.jsx */
.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #FBEBC2;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.cell:hover {
    background-color: #E6D89F;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}


/* CalendarPage.jsx */
.calendar-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}