/* index.html */
body,
html {
    background: #0a0523 url('src/assets/images/stardewbackground.png') no-repeat
        fixed center center / cover;
}

.menu {
    display: flex;
    border: 5px solid #bf7c2a;
    border-radius: 1em;
    background-color: #ffd284;
    align-items: center;
}

.page-content {
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

/* NavBar.jsx */
.navbar {
    justify-content: space-between;
    padding: 1%;
}

.navimg {
    max-width: 115px;
}

/* SignInPage */
.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DayCell.jsx */
.cell {
    width: 10vw;
    height: 10vw;
    border: 2px solid #63453a;
    transition: background-color 0.2s, box-shadow 0.2s;
    position: relative;
    box-sizing: border-box;
    user-select: none;
}

.cell:hover {
    background-color: #e6d89f;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.day-number {
    position: absolute;
    left: 5px;
    font-size: 2.5vw;
    font-weight: bold;
}

.x-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10vw;
    pointer-events: none;
}

.cell-img {
    position: absolute;
    bottom: 0;
    left: 30%;
    max-width: 8vw;
}

/* SeasonalCalendar.jsx */
.calendar {
    margin: 5%;
    border: 2px solid #63453a;
    color: #704649;
    background-color: #fbebc2;
}

.calendar-row {
    display: flex;
}

.days-label {
    display: flex;
    justify-content: space-around;
    font-size: 2.5vw;
    border: 2px solid #63453a;
    line-height: 0px;
}

.calendar-header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    width: 100%;
    color: #704649;
}
