.navbar {
  display: flex;
  border: 3px solid black;
  border-radius: 1em;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.navimg {
  max-width: 75px;
  border-radius: 1em;
}
